* {
  box-sizing: border-box;
}

.output {
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.top {
  margin: 0 auto;
  width: 100%;
}

.w3-container {
  padding: 0.5rem;
  width: 60%;
}

.w3-input {
  border: 1px solid lightgrey;
  width: 80%;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.w3-button {
  background-color: darkblue;
  color: #fff;
  width: 20%;
  display: inline-block;
}

li.my-list {
  border-bottom: none;
}

li.my-list:nth-child(odd) {
  background-color: #f6f6f6;
}

li.my-list:nth-child(even) {
  background-color: white;
}
.my-list .w3-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
}

.button-div {
  width: 16%;
  display: flex;
  justify-content: space-evenly;
}

.fa-solid {
  font-size: 20px;
  cursor: pointer;
}

.fa-pencil {
  color: green;
}

.fa-trash {
  color: red;
}
